.tarefa{
    background-color: #845afc;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarefa-chk{
    margin: 5px;
    cursor: pointer;
}

.tarefa-acoes{
    display: flex;
    align-items: center;
}

.tarefa-done{
    text-decoration: line-through;
}

